html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #f5f6f8;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --grey-light: #ebebeb;
  --grey-hard: #b3c0d9;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --red-hard: #de0000;
  --green: #1dc47e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans", sans-serif;
}
